PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=7titaaa_shop

JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=7d
